# http://EditorConfig.org

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[Dockerfile]
indent_style = space
indent_size = 4

[*.sh]
indent_style = space
indent_size = 4

[*.rb]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2

[container-entrypoints/*]
indent_style = space
indent_size = 4

[{build-everything,build-jemalloc,build-ruby,build-ruby-deb,build-rbenv-deb,build-ruby-rpm,build-rbenv-rpm,test-debs,test-rpms}]
indent_style = space
indent_size = 4

[scripts/autodetect-shlib-dependencies]
indent_style = space
indent_size = 2

[aptly.conf]
indent_style = space
indent_size = 2
